<!DOCTYPE HTML>
<html>
    <head>
        qBootstrapper Python
    </head>
    <body>
        <p>
        <button class="addInstrumentButton">Add instrument</button>
        <p>
        <form action="curve" method="POST">
            <div class="input-instruments">
                <p><b>Curve date:</b>  {{ form.curve_date }}</p>
                <p><b>Curve type:</b>  {{ form.curve_type }}</p>
                <table id="instruments-table">
                    <tr>
                        <th>Instrument Type</th>
                        <th>Maturity</th>
                        <th>Rate</th>
                        <th></th>
                    </tr>
                    {% for inst in form.instruments %}
                    <tr id="inst-{{loop.index0}}">
                        <td>{{ inst.instrument_type }}</td>
                        <td>{{ inst.maturity }}</td>
                        <td>{{ inst.rate }}</td>
                        <td><button type="button" id="inst-{{loop.index0}}-remove" class="removeInstrumentButton">-</button></td>
                    </tr>
                    {% endfor %}
                </table>
                {{ form.submit }}
        </form>
            </div>
            <script src="{{ url_for("static", filename="js/jquery-2.1.4.min.js") }}"></script>
            <script src="{{ url_for("static", filename="js/adjust-instruments.js") }}"></script>
    </body>
</html>
