.left-entry {
	float: left;
	text-align: left;
}

.right-output {
	float: right;
	width: 50%;
	text-align: left;
}

.wrapper {
	text-align: center;
	float: none;
}

.add-instrument-button {
	display: inline-block;
	float: right;
}

.remove-instrument-button {
	float: right;
}

.date td {
	text-align: left;
}

.discount-factor td {
	text-align: right;
}
