html {
	height: 100%;
}

body {
	font-family: 'Open Sans', sans-serif;
	color: #ffffff;
	font-size: small;
	height: 100%;
	background: #807160;
}

.wrapper {
	text-align: center;
	float: none;
	height: 100%;
}

.left-entry {
	height: 100%;
	float: left;
	text-align: left;
	margin-left: 25px;
	background-color: #57717e;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 8px;
}

table#instruments-table {
	text-align: center;
}

.right-output {
	float: right;
	width: 50%;
	text-align: left;
}


.add-instrument-button {
	display: inline-block;
	float: right;
}

.remove-instrument-button {
	float: right;
}

input {
	height: 20px;
}

input.inst-rate {
	width: 80px;
	text-align: right;
	border: 0px;
	padding: 2px;
}

input.inst-mat {
	width: 140px;
}

select.inst-type {
	height: 20px;
}

td.inst-mat {
	text-align: left;
}

td.discount-factor {
	text-align: right;
}
