<form id="instruments-form" action="curve" method="POST">
    <input type="hidden" id="csrf-token" value="{{ csrf_token() }}"/>
    <div class="input-instruments">
        <div class="instruments-table-wrapper">
            <table class="general-conventions">
                <tr>
                    <td>Curve date:  </td><td>{{ form.curve_date }}</td>
                </tr>
                <tr>
                    <td>Curve type:  </td><td>{{ form.curve_type }}</td>
                    <td><button class="add-convention-button">Add Convention</button></td>
                </tr>
                <tr>
                    <td>Currency:  </td><td>{{ form.currency }}</td>
                    <td><button class="add-instrument-button">Add Instrument</button></td>
                </tr>
            </table>
            <table id="instruments-table">
                <tr>
                    <th>Instrument Type</th>
                    <th>Maturity</th>
                    <th>Rate</th>
                    <th>Convention</th>
                    <th></th>
                </tr>
                {% for inst in form.instruments %}
                <tr id="inst-{{loop.index0}}">
                    <td>{{ inst.instrument_type(class="inst-type") }}</td>
                    <td>{{ inst.maturity(class="inst-mat") }}</td>
                    <td><span class="inst-rate">{{ inst.rate(class="inst-rate", placeholder="0.00") }}</span></td>
                    <td>{{ inst.convention(class="inst-conv") }}</td>
                    <td><button type="button" id="inst-{{loop.index0}}-remove" class="remove-instrument-button">Remove</button></td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <p>
        {{ form.submit(id="instruments-submit") }}
        </p>
    </div>
</form>
